:root {
    /* couleur de fond des lignes du tableau*/
    --gray: #CCCCCC;
    /* couleur bouton duplicate*/
    --boutduplicatecolor: #3298DC;
    /*couleur bouton Delete*/
    --boutdeletecolor: #F14668;
    /*couleur text header*/
    --headercolor: #7B7B7B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table,
td,
th {
    padding: 0.5em;
    border-collapse: collapse;
    border: 1px solid black;
}

#tfoot {
    font-weight: bold;
}

footer {
    margin-top: 2em;
}

header {
    color: var(--headercolor);
    padding: 1em 1em 1em 1em;
}

section {
    padding-left: 1em;
}

#imgsort {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    padding-left: 0.5em;
}

button {
    padding: 0.8em;
    color: white;
    border-radius: 0.5em;
}

#tdempty {
    text-align: center;
    font-weight: bold;
    color: red;
}

#DuplicateBut {
    background-color: var(--boutduplicatecolor);
}

#DeleteBut {
    background-color: var(--boutdeletecolor);
}

.fa-trash::before,
.fa-copy::before {
    padding-right: 0.5em;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
}